<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--
        <bean class="org.zcorp.java2.repository.mock.InMemoryUserRepositoryImpl" id="inMemoryUserRepository"/>

        <bean class="org.zcorp.java2.service.UserServiceImpl">
            <constructor-arg name="repository" ref="inMemoryUserRepository"/>
        </bean>
    -->

    <!-- Not necessary, already included with component-scan -->
    <!--<context:annotation-config/>-->

    <context:component-scan base-package="org.zcorp.**.repository"/>

    <context:component-scan base-package="org.zcorp.**.service"/>

    <context:component-scan base-package="org.zcorp.**.web"/>

</beans>